<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= flight.airline %> <%= flight.flightNo %></h1>
  <section id="basic-info-section">
    <h3><u>Airline:</u> <%= flight.airline %></h3>
    <h3><u>Airport:</u> <%= flight.airport %></h3>
    <h3><u>Flight Number:</u> <%= flight.flightNo %></h3>
    <h3><u>Departure Date:</u></h3>
    <p id="depart-date"><%= flight.departs %></p>
    <form 
      class="show-button"
      action="/flights/<%= 
      flight._id %>/edit" 
      method="GET">
      <button>Edit Flight</button>
    </form>
    <form 
      class="show-button"
      action="/flights/<%= 
      flight._id %>?_method=DELETE" 
      method="POST">
      <button>Delete Flight</button>
    </form>
    <a href="/flights">↩️ Go back</a>
  </section>
  <section id="seat-section">
    <% if (flight.tickets.length) { %>
      <table id="ticket-table">
        <thead>
          <tr>
            <th><u>Seat</u></th>
            <th><u>Price</u></th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(function(ticket) { %>
            <tr>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
              <td>
                <form 
                action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
                  <button 
                  class="delete-button">X</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No tickets Yet</h3>
    <% } %>
    <form 
      id="add-ticket-form"
      action="/flights/<%= flight._id %>/tickets"
      method="POST">
      <label for="seat">Seat (A-F) & (1-9):</label>
      <input name="seat" required pattern="[A-F][1-9]\d?"><br>
      <label for="price">Price($):</label>
      <input type="number" name="price" min="0.00" max="20000.00" step="0.01"><br>
      <button type="submit">Add ticket</button>
    </form>
  </section>
  <section id="meal-section">
    <div><u>Meals:</u></div>
      <% flight.meal.forEach(meal => { %>
        <p class="meal-paragraph"><%= meal.name %></p>
      <% }) %>
    <form id="add-per-to-meal" action="/flights/<%= flight._id %>/meals" method="POST">
      <select name="mealId">
        <% meals.forEach(meal => { %>
          <option value="<%= meal._id %>"><%= meal.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Meal</button>
    </form>

  </section>

</main>

<%- include('../partials/footer') %>

